{% extends "base.html" %}
{% block content %}
<h1 class="col s12 truncate">{{ offer.title }}</h1>
<div class="col s12">{{ offer.offer_text }}</div>
    <div class="col s6">{{ offer.sum_price }} zł</div>
<ul class="col s6">
    {% for description in offer.description_set.all %}
        <li>{{ description.description_text }}</li>
    {% endfor %}
</ul>
<ul class="col s10 row">
    {% for image in offer.image_set.all %}
    <img class="col s6" src="{{ image.image.url }}">
    {% endfor %}
</ul>
{% endblock %}
