{% extends "base.html" %}
{% block content %}
<h1 class="col s12 center-align">{{ offer.title }}</h1>
<div class="col s12">{{ offer.offer_text }}</div>
<ul class="col s6 browser-default">
    {% for description in offer.description_set.all %}
        <li style="font-size:20px">{{ description.description_text }}</li>
    {% endfor %}
    <li style="font-size:22px">{{ offer.sum_price }} zł</li>
</ul>
{% for image in offer.image_set.all %}
<img class="col s6 hoverable" src="{{ image.image_link }}.jpg">
{% endfor %}
<a class="col s12 waves-effect waves-light btn-large brown darken-2" href={% url 'offer_list' offer.type_offer.id %}>Wróć</a>
{% endblock %}
